
@{
    ViewBag.Title = "Index";
}
<a href="@Url.Action("addOne", "Stack")" class="w3-bar-item w3-button">1. Add One time to stack</a><br />
<a href="@Url.Action("hugeList", "Stack")" class="w3-bar-item w3-button">2. Add huge list of items to stack</a><br />
<a href="@Url.Action("display", "Stack")" class="w3-bar-item w3-button">3. Display Stack</a><br />
<a href="@Url.Action("delete", "Stack")" class="w3-bar-item w3-button">4. Delete from Stack</a><br />
<a href="@Url.Action("clear", "Stack")" class="w3-bar-item w3-button">5. Clear Stack</a><br />
<a href="@Url.Action("search", "Stack")" class="w3-bar-item w3-button">6. Search Stack</a><br />
<a href="@Url.Action("goToMain", "Stack")" class="w3-bar-item w3-button">7. Return to Main Menu</a><br />
@ViewBag.Message